<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>xG Plots - Game</title>
    <meta name="description" content="xG Plots">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/css/main.css">

</head>

<body>
    <div class="container" id="app">
        <div class="text-center">
            <div class="mb-2"><a href="index.html"><< Back</a></div>
            
            <div class="mb-2">
                <div id="xg_race"></div>
            </div>

            <div class="mb-2 d-flex flex-wrap">
                <div class="form-group">
                    <label for="homeColor">Home Color</label>
                    <select class="form-control" id="homeColor" v-model="home_color"  @change="plot_xg">
                      <option v-for="i in home_color_options" :style="{'backgroundColor': i}">{{ '' + i }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="homeColor2">Home Color Custom</label>
                    <input type="color" id="homeColor2" v-model="home_color" style="width:85%;" @change="plot_xg">
                </div>
                <div class="form-group">
                    <label for="awayColor">Away Color</label>
                    <select class="form-control" id="awayColor" v-model="away_color"  @change="plot_xg">
                      <option v-for="i in away_color_options" :style="{'backgroundColor': i}">{{ '' + i }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="awayColor2">Away Color Custom</label>
                    <input type="color" id="awayColor2" v-model="away_color" style="width:85%;" @change="plot_xg">
                </div>
            </div>

            <div class="mb-4">

                <div>
                    <ul class="nav nav-tabs text-v-small" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="shots-tab" data-bs-toggle="tab" data-bs-target="#shots-tab-pane" type="button" role="tab" aria-controls="shots-tab-pane" aria-selected="true">Game Shots</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="players-tab" data-bs-toggle="tab" data-bs-target="#players-tab-pane" type="button" role="tab" aria-controls="players-tab-pane" aria-selected="false">Players</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="shots-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                            <!-- <div class="mb-2 mt-2">Game Shots</div> -->
                            <div class="table-responsive">
                                <table class="table table-sm table-striped text-v-small">
                                    <thead>
                                        <tr>
                                            <!-- <th>Shot</th> -->
                                            <th>Result</th>
                                            <th>Player</th>
                                            <th>Min</th>
                                            <th>Situation</th>
                                            <th>Shot Type</th>
                                            <th>Shot xG</th>
                                            <th class="border-left-variant">Home xG</th>
                                            <th>Away xG</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="shot in shots">
                                            <!-- <td>{{ shot }}</td> -->
                                            <td :style="{color: shot.eventType == 'Goal' ? 'steelblue': 'darkred'}">{{ shot.eventType }}</td>
                                            <td :style="{color: shot.teamId == home_team_id ? home_color : away_color}">{{ shot.playerName }}</td>
                                            <td>{{ shot.min }}</td>
                                            <td>{{ shot.situation }}</td>
                                            <td>{{ shot.shotType }}</td>
                                            <td>{{ _.round(shot.expectedGoals,3).toFixed(3) }}</td>
                                            <td class="border-left-variant">{{ _.round(_.sum(shots.filter(i => i.min <= shot.min && i.teamId == game_json.general.homeTeam.id).map(i => i.expectedGoals)),3).toFixed(3) }}</td>
                                            <td>{{ _.round(_.sum(shots.filter(i => i.min <= shot.min && i.teamId == game_json.general.awayTeam.id).map(i => i.expectedGoals)),3).toFixed(3) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="players-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                            <table class="table table-sm table-striped text-v-small">
                                <thead>
                                    <tr>
                                        <!-- <th>Team</th> -->
                                        <th>Display</th>
                                        <th>Player</th>
                                        <th>Total xG</th>
                                        <th>Shots</th>
                                        <th>Best xG</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="p in players_by_xg" :class="{'hplayer': highlight_player == p.values[0].info.playerId}">
                                        <!-- <td>{{ p.side }}</td> -->
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm text-v-small btn-v-sm" @click="toggle_highlight(p.values[0].info.playerId)"><i class="fas fa-star"></i></button>
                                        </td>
                                        <td :style="{color: p.values[0].info.teamId == home_team_id ? home_color : away_color}">{{ p.name }}</td>
                                        <td>{{ _.round(p.total_xg,2) }}</td>
                                        <td>{{ p.shots }}</td>
                                        <td>{{ _.round(p.best_xg,2) }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                
            </div>
        </div>
    </div>

</body>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js" integrity="sha256-ur/YlHMU96MxHEsy3fHGszZHas7NzH4RQlD4tDVvFhw=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.21/jquery.csv.min.js" integrity="sha512-Y8iWYJDo6HiTo5xtml1g4QqHtl/PO1w+dmUpQfQSOTqKNsMhExfyPN2ncNAe9JuJUSKzwK/b6oaNPop4MXzkwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.6.1/d3.js" integrity="sha512-pJbXh9nxFa1tkmI3Gxiay8+mKTW+QvM8aMrTSR4xcw671sTWkvlHBgnyqXCRr1HFkE0YwhoRZwcdUFFxP4D9Lg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-scale-chromatic@3.0.0/dist/d3-scale-chromatic.min.js"></script>
<script src="static/js/game.js"></script>

</html>
