body {
    background-color: #efe9e6;
}

.svg-plot {
    background-color: #efe9e6;
    border: 1px solid gray;
}

* {
    font-family: 'Manrope', 'Cabin', sans-serif;
}

.border-left-variant {
    border-left: 1px solid red;
}

.clickable-game {
    cursor: pointer;
}

.clickable-game:hover {
    background-color: beige !important;
}

.xg-line {
    /* stroke: black; */
    stroke-width: 5px;
}

.goal-circle {
    fill-opacity: 1;
    fill: white;
    stroke-width: 5px;
    stroke-opacity: 1;
    r: 12;
}

.minor-x {
    stroke: black;
    stroke-width: 2px;
    stroke-opacity: 0.1;
    stroke-dasharray: 8,7;
}

.major-x {
    stroke: black;
    stroke-width: 2px;
    stroke-opacity: 0.5;
    stroke-dasharray: 8,7;
}

.outer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    overflow: visible;
}

/* .outer-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: visible;
} */

.inner {
    font-size: 9pt;
}

.scoreline {
    font-size: 28pt;
}

.xgline {
    font-size: 20pt;
}

.teamline {
    font-size: 28pt;
}

.mr-10 {
    margin-right: 20px;
}

.crestimg {
    height: 90px;
}

.goal-text {
    /* background-color: red; */
    background-color: #ffffffd6;
    border: 1px solid black;
    border-radius: 4px;
    font-weight: bold;
}

.box-name {
    font-size: 15pt;
}

.box-value {
    font-size: 15pt;
}

.text-v-small {
    font-size: 100%;
}

@media screen and (max-width: 720px) {
    .text-v-small {
        font-size: x-small;
    }
}

#signature:before {
    content: "";
    position: absolute;
    padding-left: 0px;
    margin-left: -30px;
    height: 20px;
    background-color: #37003c;
    background-position: -50px 0px;
    z-index: 0;
    -webkit-mask-image: url(/static/img/curve2.svg);
    width: 50px;
}

#signature {
    position: absolute;
    bottom: 0px;
    right: 0px;
    /* background-image: url(/static/img/curve2.svg); */
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position: 0px 0px;
    font-size: 7pt;
}

#signature div {
    background-color: #37003c;
    height: 20px;
    padding-right: 8px;
    color: wheat;
    line-height: 20px;
    /* letter-spacing: -0.4px; */
    font-family: 'Manrope', 'PremierSans-Regular';
    position: relative;
    bottom: 0px;
    z-index: 2;
    right: 0px;
}

.creditline {
    font-size: 15pt;
    /* font-weight: bold; */
    color: navy;
}

.btn-v-sm {
    padding: 0px 4px;
}

.hplayer {
    background-color: white !important;
    border: 1px solid gold;
}

.highlight-line {
    stroke: black;
    stroke-width: 10px;
    filter: drop-shadow(0px 0px 4px red);
}

.fill-screen {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}